.section{
  background-color: rgb(250, 250, 250);
  padding: 50px;
  border-radius: 10px;
}

.title{
  font-size: 24px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgb(235, 235, 235);
}

.btnWrapper{
  margin-top: 10px;
}

.itemText{
  margin-top: 30px;
}