.header{
  width: 100%;
  height: 250px;
  background-color: rgb(70, 70, 70);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerTitle{
  font-size: 42px;
  
}